/* 
    .small .product-image{
        max-width:150px;
        background-size: contain;
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    }
    .large .product-image{
        width:450px;
        background-size: contain;
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    } */


    
    /* .small{
        max-width:150px;
        background-size: contain;
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    }
    .large {
        width:850px;
        background-size: contain;
        margin-left: 10%;
        margin-right: 10%;
        align-self: center;
    } */
    
    